{% extends "base.html" %}

{% block content %}

<div class="category-holder">
    <form class="body-cont" action="{{ url_for('views.learn') }}" id="main-form" method="POST">
        <div class="cat">
            <span>Objects</span>
            <button type="submit" name="button" value="objects">
                Start Learning
            </button>
        </div>
    
        <div class="cat">
            <span>Common Words</span>
            <button type="submit" name="button" value="words">
                Start Learning
            </button>
        </div>
    
        <div class="cat">
            <span>Animals</span>
            <button type="submit" name="button" value="animals">
                Start Learning
            </button>
        </div>
    </form>
</div>

{% endblock %}

