{% extends "base.html" %}

{% block selectMenu %}

<select name="lang" id="select" form="main-form">
    <option value="Hindi">Hindi</option>
    <option value="Malayalam">Malayalam</option>
    <option value="Tamil">Tamil</option>
    <option value="Telugu">Telugu</option>
</select>

{% endblock %}

{% block content %}

<div class="category-holder">
    <form class="body-cont" action="{{ url_for('views.learn') }}" id="main-form" method="POST">
        <div class="cat">
            <span>Objects</span>
            <button type="submit" name="button" value="objects">
                Start Learning
            </button>
        </div>
    
        <div class="cat">
            <span>Food</span>
            <button type="submit" name="button" value="food">
                Start Learning
            </button>
        </div>
    
        <div class="cat">
            <span>Animals</span>
            <button type="submit" name="button" value="animals">
                Start Learning
            </button>
        </div>
    </form>
</div>

{% endblock %}

