{% extends "base.html" %}

{% block content %}

<div class="category-holder">
    <div class="cat">
        <form action="" method="post">
            <span>Objects</span>
            <button type="submit">
                Start Learning
            </button>
        </form>
    </div>
    
    <div class="cat">
        <form action="" method="post">
            <span>Common Words</span>
            <button type="submit">
                Start Learning
            </button>
        </form>
    </div>
    
    <div class="cat">
        <form action="" method="post">
            <span>Animals</span>
            <button type="submit">
                Start Learning
            </button>
        </form>
    </div>
</div>

{% endblock %}

