{% extends "base.html" %}

{% block content %}

<div class="flashcards">

    <div class="arrow arrowl">
        <a href="#" onclick="plusSlides(-1)">&#x203A;</a>
    </div>

    <div class="fc">
        <div class="spacer"></div>
        {% for key, value in result.items() %}
        <div class="main-fc">
            <div class="fc-inner">
                <div class="fc-front">
                    <div class="img">
                        <img src="{{ url_for('static', filename=value[1]) }}" alt="">
                    </div>
                    <h1 class="image-name">
                        {{ value[0] }}
                    </h1>
                </div>
                <div class="fc-back">
                    <h1 class="image-name">
                        {{ key }}
                    </h1>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="spacer"></div>
    </div>

    <div class="arrow arrowr">
        <a href="#" onclick="plusSlides(1)">&#x203A;</a>
    </div>

</div>


<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }
      
    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("main-fc");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex-1].style.display = "block";
    }
    
</script>

{% endblock %}

