/* 
.flashcard {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: transform 0.5s;
}

.back {
  transform: rotateY(180deg);
}

.flashcard:hover .front {
  transform: rotateY(-180deg);
}

.flashcard:hover .back {
  transform: rotateY(0deg);
}
*/

:root {
  --arrow-bg: rgba(255, 255, 255, 0.3);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: white;
  --select-bg: rgba(255, 255, 255, 0.2);
}

select {
  appearance: none;
  border: 0;
  outline: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  
  width: 250px;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em, 
  linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

body {
  margin: 0;
  background-color: #19212e;
  display: flex;
  flex-flow: row;
}

.body-cont {
  margin: 0;
  background-color: #19212e;
  display: flex;
  flex-flow: row;
}

.navbar {
  width: 350px;
}

.navbar li {
  display: flex;
  flex-flow: column;
  background-color: #1b283b;
  height: 100vh;
  align-items: center;
}

.navbar li ul {
  padding: 30px;
  margin: 0;
}

.navbar li ul a {
  text-decoration: 0;
}

#heading {
  padding: 15px;
  color: rgb(0, 223, 104);
  font-size: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#rem {
  font-size: 15px;
  font-weight: bold;
  color: rgb(76, 223, 234);
  font-family: Arial, Helvetica, sans-serif;
}

.category-holder {
  display: flex;
  flex-flow: row;
  margin: 20px;
}

.cat {
  transition: all 0.4s;
}

.cat:hover {
  transform: scale(1.05);
}

.cat {
  background-color: #4dae50;
  margin: 20px;
  height: 240px;
  width: 21.5vw;
  border-radius: 20px;
  align-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex-flow: column;
}

.cat span {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.cat button {
  border-radius: 10px;
  border: 0;
  width: calc(21.5vw - 40px);
  height: 60px;
  font-size: 20px;
  margin-top: 110px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.flashcards {
  display: flex;
  flex-flow: row;
  height: 100vh;
  width: calc(100vw - 350px);
  max-width: calc(100vw - 350px);
}

.spacer {
  margin-left: 90px;
}

.fc {
  width: 95%;
  display: flex;
  flex-flow: row;
  overflow-x: scroll;
}

.main-fc {
  background-color: transparent;
  height: calc(100% - 204px);
  min-width: 380px;
  margin: 100px;
  margin-left: 180px;
  margin-right: 150px;
  perspective: 1000px;
}

.fc-inner {
  background-color: #4dae50;
  border-radius: 20px;
  text-align: center;
  display: flex;
  height: calc(100% - 204px);
  min-width: 380px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2),0 5px 15px rgba(0,0,0,0.19);
}

.fc-front, .fc-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.main-fc:hover .fc-inner {
  transform: rotateY(-180deg);
}

.fc-back {
  transform: rotateY(180deg);
}

.img {
  height: 300px;
  border-radius: 10px;
  background-color: aliceblue;
  margin: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.image-name {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 120px;
  font-size: 50px;
}

.rotate-btn {
  background-color: #ffffff;
  margin-top: 190px;
  border: 0;
  height: 60px;
  width: 330px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s;
}

.rotate-btn:hover {
  background-color: #dddddd;
}

.img img {
  border-radius: 10px;
  border: #19212e 2px solid;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2),0 5px 15px rgba(0,0,0,0.19);
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.arrow {
  text-align: center;
  justify-content: center;
  align-content: center;
  font-size: 200px;
  padding: 8px;
  cursor: pointer;
}

.arrow a {
  text-decoration: 0;
  color: #4dae50;
}

.arrowl {
  margin-top: 79px;
  transform: rotate(-180deg);
}